<!-- public/partials/alunos.html -->
<!-- <div class="jumbotron">
	<h1 class="text-center">
		Bem-vindo ao Ushaped
	</h1>
</div> -->
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<!-- <button class="btn btn-primary" ng-click="incrementa()">
	Novo
</button> -->
<input ng-model="filtro" type="search" placeholder="parte do nome">
<p ng-show="alunos.length">Alunos cadastrados: {{alunos.length}}</p>
<p class="text-info" ng-hide="alunos.length">Não há alunos cadastrados</p>
<meu-painel titulo="Listagem de alunos">
	<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<!-- <th>Emergência</th> -->
				<th class="text-center">Ação</th>
			</tr>
			<!-- <tr>
				<td>
					<a>Contato</a>
				</td>
				<td>cont@empresa.com.br</td>
				<td class="text-center">
					<button class="btn btn-warning">
						Remover
					</button>
				</td>
			</tr> -->
			<tr ng-repeat="aluno in alunos | filter: filtro">
				<td>
					<!-- <a>{{aluno.nome}}</a> -->
					<a ng-href="#/aluno/{{aluno._id}}">{{aluno.nome}}</a>
				</td>
				<td>{{aluno.email}}</td>
				<!-- <td>{{aluno.emergencia.nome}}</td> -->
				<td class="text-center">
					<!-- <button ng-click="remove(aluno)" class="btn btn-warning">
						Remover
					</button> -->
					<meu-botao-aviso nome="Remover" acao="remove(aluno)" />
				</td>
			</tr>
		</table>
		<a ng-href="#/aluno" class="btn btn-primary">Novo</a>
		<a ng-href="#/" class="btn">Voltar</a>
	</div>
</meu-painel>