<!-- public/partials/contatos.html -->
<!-- <div class="jumbotron">
	<h1 class="text-center">
		Bem-vindo ao Ushaped
	</h1>
</div> -->
<!-- <p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
 --><!-- <button class="btn btn-primary" ng-click="incrementa()">
	Novo
</button> -->
<!-- <input ng-model="filtro" type="search" placeholder="parte do nome">
<p ng-show="contatos.length">Contatos cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.length">Não há contatos cadastrados</p>
<meu-painel titulo="Listagem de contatos">
	<div class="table-responsive">
 -->		<table class="table table-hover">
			<!--<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Emergência</th>
				<th class="text-center">Ação</th>
			</tr>-->
			<!-- <tr>
				<td>
					<a>Contato</a>
				</td>
				<td>cont@empresa.com.br</td>
				<td class="text-center">
					<button class="btn btn-warning">
						Remover
					</button>
				</td>
			</tr> -->
			<tr>
				<td>
					<!-- <a>{{contato.nome}}</a> -->
					<a ng-href="#/contatos">Contatos</a>
				</td>
				<td>
					<!-- <a>{{contato.nome}}</a> -->
					<a ng-href="#/medidas">Medidas</a>
				</td>
				<td>
					<!-- <a>{{contato.nome}}</a> -->
					<a ng-href="#/alunos">Alunos</a>
				</td>
			</tr>
		</table>
<!-- 		<a ng-href="#/contato" class="btn btn-primary">Novo Contato</a>
	</div>
</meu-painel> -->