<!-- public/serie.html -->
<h1 class="text-center">Serie</h1>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<form ng-submit="salva()">
	<div class="form-row">
		<div class="form-group col-12">
			<label for="nome">Serie</label>
			<input type="text" class="form-control" id="nome" name="nome" required ng-model="serie.nome">
		</div>
	</div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exercicios">Exercicio</label>
	  <select id="exercicio" class="form-control" ng-model="serie.exercicio" ng-options="exercicio._id as exercicio.nome for exercicio in exercicios"></select>
    </div>
    <div class="form-group col-md">
      <label for="quantidade">Quantidade</label>
      <input type="text" class="form-control" id="quantidade" name="quantidade" required ng-model="serie.quantidade">
    </div>
	<div class="form-group col-md">
      <label for="medida">Medida</label>
      <input type="text" class="form-control" id="medida" name="medida" required ng-model="serie.medida">
    </div>
</div>
    

<!-- <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>

    
  </div> -->


	<!-- <div class="form-row">
		<div class="form-group col">
			<label for="exercicios">Exercicio</label>
			<select id="exercicio" class="form-control" ng-model="serie.exercicio" ng-options="exercicio._id as exercicio.nome for exercicio in exercicios" />
		</div>
	</div> -->
	<div>
		<button type="submit" class="btn btn-primary">
			Salvar
		</button>
		<a meu-focus evento="serieSalvo" href="#/series" class="btn btn-default">Voltar</a>
	</div>
</form>

