<!doctype html>
<html ng-app="ushaped">
	<head>
		<meta charset="UTF-8">
		<title>Ushaped</title>
		<!-- comentario abaixo do grunt -->
		<!-- build:css css/index.min.css -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		<!-- endbuild -->
	</head>
	<body class="container">
		<h1>Ushaped</h1>
		<%if (usuarioLogado.length > 0) { %>
			<div class="text-right">
				<p>
					Logado como: <span id="usuario-logado">
					<%=usuarioLogado %>
					<span>
					<a href="/logout">Logout</a>
				</p>
			</div>
		<% } %>
		<div ng-view></div>
		<!-- comentario abaixo do grunt -->
		<!-- build:js js/index.min.js -->
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-resource/angular-resource.js"></script>
		<script src="vendor/jquery/dist/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/services/ContatoService.js"></script>
		<script src="js/services/InterceptorService.js"></script>
		<script src="js/controllers/ContatosController.js"></script>
		<script src="js/controllers/ContatoController.js"></script>
		<script src="js/services/MedidaService.js"></script>
		<script src="js/controllers/MedidasController.js"></script>
		<script src="js/controllers/MedidaController.js"></script>
		<script src="js/services/AlunoService.js"></script>
		<script src="js/controllers/AlunosController.js"></script>
		<script src="js/controllers/AlunoController.js"></script>
		<script src="js/services/ExercicioService.js"></script>
		<script src="js/controllers/ExerciciosController.js"></script>
		<script src="js/controllers/ExercicioController.js"></script>
		<script src="js/directives/meus-componentes/meus-componentes.js"></script>
		<!-- endbuild -->
	</body>
</html>